@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #111;
    color: black;
}
#tasklist::-webkit-scrollbar{
    display: none;

}
#alltask::-webkit-scrollbar{
    display: none;

}
